* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/bg.jpg);
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
.backarrow {
  margin: 20px 0px 0px 10px;
  font-size: 3em;
}
.logo {
  width: 60%;
  margin: 4%;
}
.navbar {
  text-align: center;
  box-shadow: 0px 0px 15px #ffffff;
}
h1 {
  font-weight: 400;
  font-size: 1.7em;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.welcome {
  margin: 50px 0px 100px 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.dark {
  background-color: rgba(0, 0, 0, 0.8);
}
.rockets-home {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/rocket-space.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 0px 0px 1px #ffffff;
  position: relative;
}
.gallery-home {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/satelite-and-earth.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 0px 0px 1px #ffffff;
  position: relative;
}
.about-home {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/logo-building.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 0px 0px 1px #ffffff;
  position: relative;
}
.subscribe-home {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/space-mail.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 0px 0px 1px #ffffff;
  position: relative;
}
.card-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0px 0px 20px 20px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
footer {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px #ffffff;
  display: flex;
  justify-content: space-around;
}
.motto {
  margin: 0px 20px;
}
/* Image of the day section */
.imgOfDay {
  margin: 20px auto 30px auto;
  max-width: 50%;
}
.image {
  width: 100%;
}
.explanation {
  text-align: left;
  margin: 30px 0px 20px 0px;
}
.title {
  margin-bottom: 20px;
  text-align: center;
}

/* Our rockets section */

.falcon1 {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/falcon1.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 0px 0px 1px #ffffff;
  position: relative;
}
.ariane {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/ariane.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 0px 0px 1px #ffffff;
  position: relative;
}
.delta4 {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/delta4.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 0px 0px 1px #ffffff;
  position: relative;
}
.starship {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/starship.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 0px 0px 1px #ffffff;
  position: relative;
}
.falcon9 {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/falcon9.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 0px 0px 1px #ffffff;
  position: relative;
}
.falconheavy {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/falcon-heavy.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 0px 0px 1px #ffffff;
  position: relative;
}

@media (min-width: 800px) {
  .rockets-home {
    width: 50%;
    float: right;
  }
  .gallery-home {
    width: 50%;
  }
  .about-home {
    width: 50%;
    float: right;
  }
  .subscribe-home {
    width: 50%;
  }
  .logo {
    width: 40%;
  }
  .delta4 {
    width: 50%;
    float: right;
  }
  .falcon1 {
    width: 50%;
  }
  .starship {
    width: 50%;
    float: right;
  }
  .falcon9 {
    width: 50%;
  }
  .falconheavy {
    width: 50%;
    float: right;
  }
  .ariane {
    width: 50%;
  }
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 1.5em;
  }
}

/* Subscribe Form */

#contactForm {
  margin: 30px 50px;
}
#name {
  padding: 10px 40px 10px 10px;
  margin-bottom: 10px;
}
#email {
  padding: 10px 40px 10px 10px;
  margin-bottom: 10px;
}
.formError {
  margin-bottom: 10px;
  color: red;
}
#submit {
  padding: 5px 10px;
  font-size: 1em;
}

/* About */
.about {
  margin: 20px 20px;
}
